@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0 ;

}
.head-container{
    width:1240px;
    height:646px;
    margin: 0 auto;
    margin-top: 20px;
    
    background-image: url("Hero-bg.png");
    
}
.inner-photo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 350px;
}
.inner-text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.inner-text p{
    margin-top: 10px;
    color: #4b4d53;
    font-size: 16px;
}
.inner-text h1{
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;

}
.middle-task h1{
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    font-family: "Azeret Mono", monospace;
    font-size: bold;
}
.middle-task p{
    text-align: center;
    margin-top: 10px;
    color: #4b4d53;
    font-size: 16px;
}

.btn{
    width: 244px;
    height: 65px;
    display:flex;
    background-color: black;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    border-radius: 5px ;
}
.middle-task{
    width: 1000px;
    height: 1100px;
    
    margin: 0 auto;
    margin-top: 10px;
}
    
.left{

   
    
    width:50%;
    height:350px;
}
.right{
   
    width:50%;
    height:350px;
}
.container{
    display:flex;
}
.container h1{
    margin: 0 auto;
    margin-top: 50px;
text-align: center;
font-size: 25px;
font-family: "Azeret Mono", monospace;
}
.container p{
   margin:0 auto;
   margin-top: 10px;
text-align: center;
font-size: 15px;
font-family: "Azeret Mono", monospace;
color:#4b4d53;
}
.left img{
    display: felx;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    padding-left: 70px;
}
.right img{
    display: felx;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    padding-left: 70px;
}
.Btn{
    width: 100px;
    height: 25px;
    display:flex;
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
    margin-left: 70px;
    margin-top: 20px;
   
}
.video{
    width:900px;
    height:650px;
    
    margin: 0 auto;
}
.video h1{
    margin: 0 auto;
    margin-top: 50px;
text-align: center;
font-size: 25px;
font-family: "Azeret Mono", monospace;
}
.video p{
    margin:0 auto;
    margin-top: 10px;
 text-align: center;
 font-size: 15px;
 font-family: "Azeret Mono", monospace;
 color:#4b4d53;
 }
 .video video{
    margin-top: 30px;
    width:902px;
    height:350px;
    border-radius: 15px ;
    
 }
 .card{
    width: 1100px;
    height: 400px;
    margin: 0 auto;
    margin-top: 5px;
   
    
 }
 .card-h1{
    margin: 0 auto;
    margin-top: 50px;
text-align: center;
font-size: 25px;
font-family: "Azeret Mono", monospace;
 }
 .card-p{
    margin:0 auto;
    margin-top: 10px;
 text-align: center;
 font-size: 15px;
 font-family: "Azeret Mono", monospace;
 color:#4b4d53;
 }
 .card-box{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    
    
 }
 .box{
    width:300px;
    height:200px;
    
     border-radius:5px ;
     background-color: #EBEBEB;
     margin-top: 20px;
     
     

 }
 .card-box h1{
    text-align: left ;
    margin-left: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
 }
 .card-box p{
    text-align: left ;
    margin-left: 5px;
    color: rgb(73, 71, 71);
    margin:0 auto;
    margin-top: 10px;
    padding-left: 10px;
 }
 .card-box a{
    text-align: left ;
    margin-left: 5px;
    color: rgb(73, 71, 71);
    padding-bottom: 10px;
    
    
 }

.card-box img{
width:70px;
height:70px;
margin: 0 auto;
margin-top: 5px;
 
}
